@model Buildy.Models.Exams.ExamPaperVM

@{
    ViewData["Title"] = "Add Exam Paper";
}


<div class="container my-5">
    <h4>Add exam paper for student @Model.StudentName</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddExamPaper">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Grade" class="control-label"></label>
                    <input asp-for="Grade" class="form-control" />
                    <span asp-validation-for="Grade" class="text-danger"></span>
                </div>

                <input type="hidden" value="@Model.StudentId" name="StudentId" />

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
