@model Buildy.Models.Exams.ExamPaperVM

@{
    ViewData["Title"] = "EditExamPaper";
}
<div class="container my-5">
    <h4>Edit exam paper for student @Model.StudentName</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditExamPaper">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="StudentId" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Grade" class="control-label"></label>
                    <input asp-for="Grade" class="form-control" />
                    <span asp-validation-for="Grade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GradeTop" class="control-label"></label>
                    <input asp-for="GradeTop" class="form-control" />
                    <span asp-validation-for="GradeTop" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Details" asp-route-id="@Model.StudentId">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
