@model MB.T.DVLD.Web.Models.Car.CreateEditCarVM

@{
    ViewData["Title"] = "Edit Car";
}

<h1>Edit Car</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Manu" class="control-label"></label>*
                <input asp-for="Manu" class="form-control" />
                <span asp-validation-for="Manu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>*
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>*
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LicensePlate" class="control-label"></label>*
                <input asp-for="LicensePlate" class="form-control" />
                <span asp-validation-for="LicensePlate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DriverId" class="control-label"></label>
                <select asp-for="DriverId" asp-items="@ViewBag.DriversListItems" class="form-control">
                    <option value="0">- Please select a Driver -</option>
                </select>
                <span asp-validation-for="DriverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsuranceId" class="control-label"></label>
                <select asp-for="InsuranceId" asp-items="@ViewBag.InsurancesListItems" class="form-control">
                    <option value="0">- Please select an Insurance  -</option>
                </select>
                <span asp-validation-for="InsuranceId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
