/*#region Colors */

.bg-purple {
    background-color: #6B53FF !important;
}

.text-purple {
    color: #6B53FF !important;
}

a {
    color: #6B53FF;
}

    a:hover {
        color: #3f2dab;
        text-decoration: none;
    }

    /*#endregion */

    /*#region Utilities */


    /*#endregion */

    /*#region Header */
    a.navbar-brand {
        color: #fff;
        font-size: 38px;
        font-weight: bold;
        text-transform: uppercase;
    }

header .nav-link {
    color: #fff;
}

/*#endregion */

/*#region Pages */

.home-intro {
    color: #fff;
    background-color: #6B53FF;
    padding: 80px 0 60px;
}

    .home-intro .search-row {
        text-align: center;
    }

.services-cont {
    background-color: #F4F4F4;
    padding: 60px 0;
}

    .services-cont .service .icon {
        width: 120px;
        height: 120px;
        background-color: #6B53FF;
        border-radius: 50%;
        text-align: center;
        font-size: 58px;
        color: #fff;
    }


.paid-posts {
    padding: 60px 0;
}

    .paid-posts .sub-title {
        padding: 0 10rem;
        text-align: center;
    }

.name-card .img {
    float: left;
    width: 64px;
    margin-right: 14px;
}

.name-card .info {
    padding-top: 3px;
}

.counters {
    background-color: #F4F4F4;
    padding: 60px 0;
}

    .counters .info .fas {
        float: left;
        margin-right: 18px;
        font-size: 84px;
    }

    .counters .info .num {
        font-size: 32px;
        font-weight: bold;
        color: #6B53FF;
    }



/*#endregion */



