/*#region Colors */

.bg-purple {
    background-color: #6B53FF !important;
}

.text-purple {
    color: #6B53FF !important;
}

a {
    color: #6B53FF;
}

    a:hover {
        color: #3f2dab;
        text-decoration: none;
    }

/*#endregion */

/*#region Utilities */

.hide {
    display: none;
}

.px-10 {
    padding: 0 10rem !important;
}

.btn-primary {
    background-color: #6B53FF !important;
}

/*#endregion */

/*#region Header */

a.navbar-brand {
    color: #fff;
    font-size: 38px;
    font-weight: bold;
    text-transform: uppercase;
}

header .nav-link {
    color: #fff;
}

/*#endregion */

/*#region Custom Slick Slider */

.custom-slick .qoute {
    padding: 3rem;
    background-color: #ebebeb;
}

    .custom-slick .qoute i {
        font-size: 24px;
        display: block;
        color: #6B53FF;
    }

    .custom-slick .qoute .txt {
        margin-left: 2.5rem;
    }

.custom-slick .person {
    text-align: center;
    padding-top: 25px;
}

    .custom-slick .person .img {
        border-radius: 50%;
        display: inline-block;
        margin-bottom: 5px;
    }

    .custom-slick .person .name {
        color: #6B53FF;
        font-size: 18px;
        line-height: 10px;
        font-weight: bold;
    }

    .custom-slick .person .desc {
        font-size: 16px;
    }

/*#endregion */

/*#region Pages */
.home-intro {
    color: #fff;
    background-color: #6B53FF;
    padding: 80px 0 60px;
}

    .home-intro .search-row {
        text-align: center;
    }

.services-cont {
    background-color: #F4F4F4;
    padding: 60px 0;
}

    .services-cont .service .icon {
        width: 120px;
        height: 120px;
        background-color: #6B53FF;
        border-radius: 50%;
        text-align: center;
        font-size: 58px;
        color: #fff;
    }


.paid-posts {
    padding: 60px 0;
}

.name-card .img {
    float: left;
    width: 64px;
    margin-right: 14px;
}

.name-card .info {
    padding-top: 3px;
}

.counters {
    background-color: #F4F4F4;
    padding: 60px 0;
}

    .counters .info .fas {
        float: left;
        margin-right: 18px;
        font-size: 84px;
    }

    .counters .info .num {
        font-size: 32px;
        font-weight: bold;
        color: #6B53FF;
    }

.recent-property {
    padding: 60px 0;
}

.img-wrap {
    position: relative;
    color: #fff;
}

    .img-wrap .info {
        position: absolute;
        bottom: 0;
        padding: 0 14px;
    }

        .img-wrap .info .ico-box {
            width: 34px;
            height: 34px;
            padding: 5px 0 0 0;
            background-color: #6B53FF;
            border-radius: 50%;
            display: inline-block;
        }

            .img-wrap .info .ico-box i {
                color: #fff;
                cursor: pointer;
            }



#scrollToTop {
    display: none;
    position: fixed;
    bottom: 14px;
    right: 14px;
    width: 36px;
    height: 36px;
    font-size: 22px;
    background-color: #6B53FF;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 4px #9f9a9a;
    cursor: pointer;
    opacity: 0.76;
    z-index: 9;
}

    #scrollToTop:hover {
        opacity: 1;
    }

.footer {
    background-color: #6B53FF;
    padding: 60px 0 40px;
    color: #fff;
    font-size: 18px;
}

    .footer a {
        color: #fff;
    }

    .footer .social-icons {
        text-align: right;
    }

        .footer .social-icons a {
            margin-left: 20px;
            color: #fff;
            opacity: 0.8;
        }

            .footer .social-icons a:hover {
                opacity: 1;
            }

    .footer .subscription {
        border: 2px solid #fff;
        padding: 28px;
        border-radius: 4px;
    }

        .footer .subscription .txt-box {
            font-size: 25px;
        }

        .footer .subscription .subscribe {
            background-color: #fff;
            color: #6B53FF !important;
            width: 100%;
            font-size: 24px;
        }

.popular-posts .post {
    margin-bottom: 2rem;
}

    .popular-posts .post .img {
        float: left;
        margin-right: 20px;
    }

    .popular-posts .post .info {
        padding: 20px;
    }



/*#endregion */




