@model MB.T.DVLD.Web.Models.Departments.DepartmentVM

@{
    ViewData["Title"] = "Edit Department";
}

<h1>Edit Department</h1>

<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group float-right">
                    <a class="btn btn-secondary ml-1" asp-action="Index">Cancel</a>
                    <input type="submit" value="Edit" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
 
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
