@{
    ViewData["Title"] = "DVLD Home Page";   
}

<div class="text-center">
    <h1 class="display-4">you are not welcome to DVLD go away</h1>
    <p>Drivers and Vehicles Licensing Department</p>
</div>
