@model Cozmo.Models.Customer.CustomerVM

@{
    ViewData["Title"] = "CustomerProducts";
}

<h1>Customer Products</h1>
<hr />
<div>
    <div class="row">
        <h3>@Model.Name</h3>
    </div>
    @if (Model.Products.Count > 0)
    {
        <div class="row">
            <ol>
                @foreach (var item in Model.Products)
                {
                    <li>
                        @item.Name
                    </li>
                }
            </ol>
        </div>          
    }
     else 
    {
        <h3>No Products</h3> 
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
