<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mibax School</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/zoomjs/zoom.css" rel="stylesheet" />
    <link href="~/lib/slick-carousel/slick/slick.min.css" rel="stylesheet" />
    <link href="~/lib/slick-carousel/slick/slick-theme.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/datatables.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/theme.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-purple">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Mibax School</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Students" asp-action="Index">Students</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Courses" asp-action="Index">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Teachers" asp-action="Index">Teachers</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div id="scrollToTop">
        <i class="fas fa-arrow-up"></i>
    </div>

    <footer class="footer">
        <div class="container">

            <div class="subscription mb-5">
                <div class="row">
                    <div class="col-md-9">
                        <input type="text" class="form-control txt-box" placeholder="Enter Your Email Address" />
                    </div>
                    <div class="col-md-3">
                        <button class="btn subscribe">Subscribe</button>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-9">
                    <h4 class="mb-4">Popular Posts</h4>
                    <div class="popular-posts">
                        <div class="post clearfix">
                            <img src="~/imgs/post1.png" class="img" />
                            <div class="info">
                                <h5>$123,696</h5>
                                <h4>Amazing Luxury Apartments for Family</h4>
                            </div>
                        </div>
                        <div class="post clearfix">
                            <img src="~/imgs/post2.png" class="img" />
                            <div class="info">
                                <h5>$653,574</h5>
                                <h4>Skyscrapers for sale</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4 class="mb-4">More Information</h4>
                    <a class="d-block mb-2" href="#">Help Center</a>
                    <a class="d-block mb-2" href="#">Terms of Use</a>
                    <a class="d-block mb-2" href="#">Careers</a>

                    <a class="d-block mb-2" href="#">About</a>
                    <a class="d-block mb-2" href="#">About Envanto</a>
                    <a class="d-block mb-2" href="#">Envanto Marketing Blog</a>
                </div>
            </div>

        </div>

        <div class="border-top my-3"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    &copy; @DateTime.Now.Year All Rights Reserved. Designed by Mibax
                </div>
                <div class="col-md-6">
                    <div class="social-icons">
                        <a href="#">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-dribbble"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-pinterest"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-behance"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/zoomjs/zoom.min.js"></script>
    <script src="~/lib/slick-carousel/slick/slick.min.js"></script>
    <script src="~/lib/datatables/datatables.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
