<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Buildy</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/zoomjs/zoom.css" rel="stylesheet" />
    <link href="~/lib/slick-carousel/slick/slick.min.css" rel="stylesheet" />
    <link href="~/lib/slick-carousel/slick/slick-theme.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/theme.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-purple">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Buildy</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div id="scrollToTop">
        <i class="fas fa-arrow-up"></i>
    </div>

    <footer class="footer">
        <div class="container">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-dribbble"></i>
            <i class="fab fa-pinterest"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-behance"></i>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/zoomjs/zoom.min.js"></script>
    <script src="~/lib/slick-carousel/slick/slick.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
